/* Geral */
:root{
    font-family: Georgia, serif;
}

/* Header */
header{
    background: rgb(29, 27, 27);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    height: 70px;
    padding-right: 170px;
}

header nav img{
    height: 40px;
    padding-left: 15px;
    padding-top: 5px;
}
header nav{
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
    align-items: center;
}

header li a{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: var(--primary-white);
}

header li a:hover{
    text-decoration-color: #fafafa;
    transition: 1s;
}

/* Section 1 */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#sct1-hmpg h1{
    font-size: 3.5rem;
    margin-bottom: 20px;
    margin-top: -140px;
}

#sct1-hmpg h2{
    font-size: 1.8rem;
    margin-top: 160px
}

#sct1-hmpg p{
    font-size: 6rem;
    margin-top: 20px
}

/* Section 2*/
