/* Geral */
:root{
    font-family: Georgia, serif;
}

/* Header */
header{
    background: rgb(29, 27, 27);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    height: 70px;
    padding-right: 170px;
}

header nav img{
    height: 40px;
    padding-left: 100px;
    padding-top: 5px;
}
header nav{
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
    align-items: center;
}

header li a{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: var(--primary-white);
}

header li a:hover{
    text-decoration-color: #fafafa;
    transition: 1s;
}

/* Section 1 */
.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#sct1-hmpg h1{
    font-size: 3.5rem;
    margin-bottom: 20px;
    margin-top: -140px;
}

#sct1-hmpg h2{
    font-size: 1.8rem;
    margin-top: 160px
}

#sct1-hmpg p{
    font-size: 6rem;
    margin-top: 20px
}

/* Section 2*/
#sct2-hmpg{
    justify-content: space-around;
    box-sizing: border-box;
}

#sct2-hmpg img{
    padding: 5px;
}

#sct2-hmpg h1{
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
    margin-top: 25px;
    margin-bottom: 25px;
}

#sct2-hmpg h2{
    font-size: 1rem;
    margin-bottom: 20px;
    color: black;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Section 3 */
#sct3-hmpg{
    background: rgb(206, 175, 150);
}

.circles, .circlessubs{
    justify-content: space-around;
    text-align: center;
    display: flex;
}

.circle{
    width: 100px;
	height: 100px;
    border-radius: 50%;
    background-color: red;
    display: block;
    margin-top: 25px;
    border:5px solid white;
}

.circle:nth-child(1):hover{
    animation: grow1 1s;
}

.circle:nth-child(2):hover{
    animation: grow2 1s;
}

.circle:nth-child(3):hover{
    animation: grow3 1s;
}

@keyframes grow1{
    0% {border:5px solid white;}
    100% {border:5px solid #80391e;}
}

@keyframes grow2{
    0% {border:5px solid white;}
    100% {border:5px solid #ef732b;}
}

@keyframes grow3{
    0% {border:5px solid white;}
    100% {border:5px solid #eda358;}
}

.circle:nth-child(1){
    background-color: #80391e;
}

.circle:nth-child(2){
    background-color: #ef732b;
}

.circle:nth-child(3){
    background-color: #eda358;
}

#sct3-hmpg h3{
    position: relative;
    text-align: center;
    margin-top: 75px;
}

/* Section 4 */
#sct4-hmpg{
    overflow: hidden;
}

#sct4-hmpg .card{
    display:flex;
    width: 100%;
    margin: 20px 0;
    line-height: 1.5;
    text-align: left;
    padding-left: 200px;
    padding-top:30px;
    padding-bottom: 20px;
}
#sct4-hmpg h3{
    font-size: 2.4rem;
    padding-left: 20px;
}

#sct4-hmpg p{
    padding-left: 20px;
}

/* Section 5 */
#sct5-hmpg{
    background: rgb(219, 218, 213);
    color: black;
    box-sizing: border-box;
    padding: 10px;
    height: 100px;
    padding-right: 170px;
}

#sct5-hmpg h1{
    padding-top: 10px;
    font-size: 2.4rem;
    padding-left: 300px;
}

#sct5-hmpg h2{
    font-size: 1.8rem;
    padding-left: 300px;
    font-style: italic;
}

/* Footer */
footer{
    background: rgb(202, 202, 202);
    color: black;
    box-sizing: border-box;
    padding: 10px;
    height: 100px;
    padding-right: 170px;
}

footer p{
    padding-top: 18px;
    font-size: 1rem;
    padding-left: 300px;
}

footer figure{
    padding-right: 100px;
    padding-top: 15px;
}

footer nav{
    display: flex;
    justify-content: space-between;
}
