/*Geral*/
:root{
    font-family: Georgia, serif;
}

header{
    background: rgb(29, 27, 27);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    height: 70px;
    padding-right: 170px;
}

header nav img{
    height: 40px;
    padding-left: 15px;
    padding-top: 5px;
}
header nav{
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
    align-items: center;
}

header li a{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: var(--primary-white);
}

header li a:hover{
    text-decoration-color: #fafafa;
    transition: 1s;
}
